#home-info {
    height: 20%;
    margin: 30vh 0 0 0;
}

#home-info h1 {
    font-size: 40px;
    text-decoration: underline;
    font-weight: lighter;
    text-decoration-thickness: 5%;
    text-underline-offset: 5px;
    padding-bottom: 10px;
    margin: 0;
}

#home-info p {
    margin: 0;
}

#home-info a {
    position: relative;
    z-index: 2;
}

#projects-link {
    background: transparent;
    color: white;
    padding: 5px 10px;
    margin: 50px;
    border: 2px solid white;
    border-radius: 2px;
}

#ufo {
    background-image: url('/media/ufo.png');
    background-size: cover;
    position: absolute;
    width: 10px;
    height: 6px;
    z-index: -1;
    animation: ufo-move 10s ease-in-out infinite;
}

@keyframes ufo-move {
    0%, 20% {
        left: 0%;
        opacity: 0;
    }
    50% {
        left: 50%;
        opacity: 1;
    }
    80%, 100% {
        left: 95%;
        opacity: 0;
    }
}
