#home-info {
    height: 20%;
    margin: 30vh 0 0 0;
    text-align: center;
    font-variant: small-caps;
}

#home-info h1 {
    font-size: 40px;
    text-decoration: underline;
    font-weight: lighter;
    text-decoration-thickness: 5%;
    text-underline-offset: 5px;
    padding-bottom: 10px;
    margin: 0;
}

#home-info p {
    margin: 0;
}

#projects-link {
    position: relative;
    background: transparent;
    color: white;
    margin: 50px;
    padding: 0;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgb(173, 173, 173);
    z-index: 2;
}

#projects-link:hover {
    transform: scale(1.1);
}

#projects-link p {
    margin: 5px 10px;
}


#ufo {
    background-image: url('/media/ufo.png');
    background-size: cover;
    position: absolute;
    width: 10px;
    height: 6px;
    z-index: -1;
    animation: ufo-move 10s ease-in-out infinite;
}

@keyframes ufo-move {
    0%, 20% {
        left: 0%;
        opacity: 0;
    }
    50% {
        left: 50%;
        opacity: 1;
    }
    80%, 100% {
        left: 95%;
        opacity: 0;
    }
}
