#home-info {
    height: 20%;
    margin: 30vh 0 0 0;
}

#home-info h1 {
    font-size: 40px;
    text-decoration: underline;
    font-weight: lighter;
    text-decoration-thickness: 5%;
    text-underline-offset: 5px;
    padding-bottom: 10px;
    margin: 0;
}

#home-info p {
    margin: 0;
}

#home-info a {
    position: relative;
    z-index: 2;
}

#projects-link {
    background: transparent;
    color: white;
    padding: 5px 10px;
    margin: 50px;
    border: 2px solid white;
    border-radius: 2px;
}

/* stars background */
#space,
.star {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.star {
    background-image: radial-gradient(
            1px 1px at 20px 30px,
            #eee,
            rgba(0, 0, 0, 0)
        ),
        radial-gradient(1px 1px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 200px 200px;
}

/* back ground shooting star animation */
.night {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateZ(55deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 1px;
    background: linear-gradient(-45deg, #e7eefd, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #e7eefd);
    animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite;
}

.shooting_star::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 1px;
    background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        #e7eefd,
        rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 1px;
    background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        #e7eefd,
        rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
    top: calc(10%);
    left: calc(0%);
    animation-delay: 2595ms;
}

.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
    animation-delay: 2595ms;
}

.shooting_star:nth-child(2) {
    top: calc(30%);
    left: calc(20%);
    animation-delay: 7183ms;
}

.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
    animation-delay: 7183ms;
}

.shooting_star:nth-child(3) {
    top: calc(70%);
    left: calc(30%);
    animation-delay: 3620ms;
}

.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
    animation-delay: 3620ms;
}

.shooting_star:nth-child(4) {
    top: calc(50%);
    left: calc(30%);
    animation-delay: 3342ms;
}

.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
    animation-delay: 3342ms;
}

.shooting_star:nth-child(5) {
    top: calc(90%);
    left: calc(10%);
    animation-delay: 1113ms;
}

.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
    animation-delay: 1113ms;
}

.shooting_star:nth-child(6),
.shooting_star:nth-child(7),
.shooting_star:nth-child(8),
.shooting_star:nth-child(9),
.shooting_star:nth-child(10) {
    display: none;
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 70px;
    }
    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 20px;
    }
    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
@keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
