header nav {
    position: relative;
    z-index: 1;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

header nav ul a {
    text-decoration-thickness: 5%;
    text-underline-offset: 2px;
}

header nav ul a:hover {
    text-decoration: none;
    border: 1px dashed white;
    padding: 2px 10px 7px 10px;
    border-radius: 5px;
}
