body {
    background: linear-gradient(315deg, #000000 0%, #020113 74%);
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: red;
}

a:hover,
button:hover {
    cursor: pointer;
}
