html {
    height: 100%;
}

body {
    background: linear-gradient(315deg, #000000 0%, #03021d 74%);
    text-align: center;
    color: white;
}

a {
    color: whitesmoke;
}

a:hover,
button:hover {
    cursor: pointer;
}
