#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 110px 0;
}

#projects h2 {
    margin: 0;
}

#projects h3 {
    margin: 5% 0;
}

.project {
    padding-bottom: 5%;
    z-index: 2;
    border-bottom: 1px solid white;
}


.project button {
    display: block;
    margin: 4% auto 0 auto;
    padding: 7px;
    background-color: #020231;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 2px 4px 3px rgb(184, 183, 183);
    font-size: 12px;
}

.project button:hover {
    transform: scale(0.9);
}

.project article {
    margin: 5% 10%;
}

.project-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid white;
    /* border-radius: 5px; */
    box-shadow: -1px 1px rgb(183, 204, 255),
            -2px 2px rgb(183, 204, 255),
            -3px 3px rgb(183, 204, 255),
            -4px 4px rgb(183, 204, 255),
            -5px 5px rgb(183, 204, 255),
            -6px 6px rgb(183, 204, 255),
            -7px 7px rgb(183, 204, 255);
}

#project-img-1 {
    background-image: url('/media/2048.png');
}

#project-img-2 {
    background-image: url('/media/rick-and-morty.png');
}

#project-img-3 {
    background-image: url('/media/todoList.png');
}

.tools {
    color: darkgray;
}

@media only screen and (min-width: 768px) {
    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .project:nth-of-type(even) article {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .project:nth-of-type(even) .project-img {
    box-shadow: 1px 1px rgb(183, 204, 255),
            2px 2px rgb(183, 204, 255),
            3px 3px rgb(183, 204, 255),
            4px 4px rgb(183, 204, 255),
            5px 5px rgb(183, 204, 255),
            6px 6px rgb(183, 204, 255),
            7px 7px rgb(183, 204, 255);
    }

    .project article {
        margin: 0 10%;
    }
}

@media only screen and (min-width: 900px) {
    #projects {
        margin: 10px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .project {
        padding: 0 5% 7% 5%;
    }

    .project-img {
        width: 360px;
        height: 240px;
    }

    .project article {
        margin: 0 15%;
    }
}


@media only screen and (min-width: 1440px) {
    .project {
        padding: 0 10% 7% 10%;
    }

    .project-img {
        width: 390px;
        height: 260px;
    }
}

@media only screen and (min-width: 1600px) {
    .project {
        padding: 0 15% 7% 15%;
    }
}