html {
    min-height: 100%;
    height: auto;
    background: linear-gradient(135deg, #000000 0%, #03021d 74%);
    background-size: cover;
    text-align: center;
    color: white;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant: small-caps;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    color: whitesmoke;
}

a:hover,
button:hover {
    cursor: pointer;
    font-weight: bold;
}

