#about {
    margin: 10vh 5vh;
}

#about h2{
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-underline-offset: 5px;
}

#about article {
    border-bottom: 1px solid white;
    padding: 2vh 0;
}

#about p {
    text-align: left;
    font-variant: normal;
}

#avatar {
    background-image: url('/media/avatar.jpg');
    background-size: cover;
    background-position: right;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 50%;
}

#contact-info p {
    text-align: center;
}

#social-icons {
    display: flex;
    justify-content: center;
}

#social-icons i {
    margin: 0 10px;
}

#social-icons i:hover {
    transform: scale(1.2
    );
}

@media only screen and (min-width: 700px) {
    #about {
        margin: 10vh 7vh;
    }
}

@media only screen and (min-width: 900px) {
    #about {
        display: grid;
        grid-template-columns: 3fr 2fr;
        margin: 10vh 0;
        gap: 2vh;
    }

    #about section article {
        padding: 3vh 5vh;
    }

    #about aside article{
        margin: 0 3vh 3vh 3vh;
    }
}

@media only screen and (min-width: 1200px) {
    #about {
        gap: 5vh;
    }

    #about section article {
        padding: 3vh 10vh;
    }
}

@media only screen and (min-width: 1400px) {
    #about {
        gap: 10vh;
    }

    #about section article {
        padding: 3vh 15vh;
    }
}

